/* styles - Header component*/
.header {
  position: relative;
  display: flex;
}
.header-title {
  color: #fff;
}
.header-logo {
  width: 100px;
}
.timer {
  position: absolute;
  height: min-content;
  right: 30px;
  top:0;
  bottom: 0;
  margin: auto;
  color: #fff2;
  text-shadow: 0px 0px 3px #fff7, 0px 0px 5px #fff7;
  font-size: 2.5em;
  font-weight: bolder;
}
.timer.on {
  color: #fffa;
  text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
}
.timer::before {
  content: "Time:";
  margin-right: 15px;
  font-size: .7em;
}
/* Layout main section */
.main-text {
  grid-column: 1/-1;
}

/* styles - main/input components*/
.main-text {
  user-select: none;
  background-color: transparent;
  border: 0;
  width: 100%;
  text-align: center;
  color: #39adff;
  font-weight: bolder;
  text-shadow: 0px 0px 5px #39adff, 0px 0px 7px #39adff;
  font-size: 3em;
}
.main .button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.7em;
  font-weight: bolder;
  cursor: pointer;
}
.main .button:active {
  opacity: .5;
}
.main > .button:last-child {
  background-color: #7f7;
}
.main > .button:nth-child(2) {
  background-color: #f77;
}
/*Style main modal*/
.main.modal > * {
  text-shadow: 0 0 5px #faa, 0 0 7px #faa;
}
.main.modal h2,
.main.modal h4,
.main.modal p {
  padding: 0;
  margin: 0;
  color: #fff;
}
.main.modal h4 {
  font-size: 2.5em;
}
.main.modal h4 {
  font-size: 2.5em;
}
.main.modal p {
  color: #fff;
}
